@page "/contact"

<PageTitle>Contact me</PageTitle>

<h1 id="Name">Contact me</h1>

<div id="contact-images">
    <a href="mailto:alan.juache@gmail.com">
    <img id="presentation" src="icons/email.png">
    </a>

    <a href="https://www.linkedin.com/in/ajuache/">
    <img id="presentation" src="icons/linkedin.png">
    </a>

    <a href="https://orcid.org/0000-0003-4664-0575">
    <img id="presentation" src="icons/orcid.png">
    </a>
    
</div>