@page "/contact"

<PageTitle>Contact me</PageTitle>

<header id="Name">
      <h1>Alan Juache</h1>
      <p>Medical Entomologist | Statistical Analyst & Modeller | Researcher</p>
      
    </header>

<div id="contact-message">
    <p>
        Do you have any question? Please don't hesitate and contact me! I'm always open for collaboration.
    </p>

</div>

<div id="contact-images">
    <a href="mailto:alan.juache@gmail.com">
    <img id="presentation" src="icons/email.png">
    </a>

    <a href="https://www.linkedin.com/in/ajuache/">
    <img id="presentation" src="icons/linkedin.png">
    </a>

    <a href="https://orcid.org/0000-0003-4664-0575">
    <img id="presentation" src="icons/orcid.png">
    </a>
    
</div>