@page "/"

<PageTitle>Home</PageTitle>
<div >
<header id="Name">
      <h1>Dr. Alan Juache</h1>
      <p>Medical Entomologist | Statistical Analyst & Modeller | Researcher</p>
    </header>

<div id="presentation">
<section id="photo">
        <p>
          <img
            src="icons/mosquito.png"
            alt="Alan"
          />
        </p>
      </section>
<section id="about">
        <h2>About Me</h2>
        <p>
          I am a Medical Entomologist with nine years of experience interested
          in the study of the dynamics of arbovirus transmission at a global
          scale. My academic background as a biologist helped me to pursue a
          Master's degree in Genomics, followed by a Doctoral degree in Medical
          and Veterinary Entomology. I am driven to employ innovative,
          unconventional, and cutting-edge methods to tackle public health
          challenges, particularly those oriented to reduce disease transmission
          or plan vector control activities. My expertise spans both fieldwork
          and laboratory-based experiments, utilizing cutting-edge molecular
          biology techniques alongside advanced mathematical and statistical
          modelling frameworks. I am proficient in R and Python programming, as
          well as entry to intermediate level in languages as C# and F#. My
          research contributions are documented through publications in
          scientific journals as well as my participation in academic
          conferences. My primary professional goal is to develop software and
          web-based applications that empower public health officials to make
          informed decisions and effectively combat disease transmission.
        </p>
      </section>
</div>
</div>