@page "/research"
@inject HttpClient Http

<PageTitle>Research interest</PageTitle>
<h1 id="Name">Research interests</h1>
<div id="research">
    <section>
        <h2>Current Research</h2>
        <div>
            <p>                
In broad terms, my current research involves the application of statistical and spatial models to determine the spreading of vector-borne diseases as well as the factors controlling it with special emphasis in climate change. Below are three key elements I'm interested to dive into:
            </p>
            <ul>
                <li>Changes in arboviral transmission dynamics due to climate events at fine and global scales</li>
                <li>Time-effective detection of disease transmission hotspots to support vector control programmes</li>
                <li>Insecticide resistance in mosquitoes and ticks: from testing to analysing distribution patterns</li>
            </ul>
        </div>
        
        <h2>Skills and methods</h2>
        <div>
            <p><strong>Epidemiological and Statistical Modelling</strong></p>
<ul>
    <li>Species distribution modelling for arboviruses</li>
    <li>Disease transmission models using Markov Chains</li>
    <li>Spatiotemporal analysis for hotspot detection</li>
    <li>Regression analysis linking climatic variables to disease transmission</li>
</ul>

<p><strong>Data Analysis and Programming</strong></p>
<ul>
    <li>R (advanced), Python (intermediate), and C#-F# (basic)</li>
    <li>QGIS (advanced)</li>
</ul>

<p><strong>Academic Writing</strong></p>
<ul>
    <li>Guest editor, “Insecticide Resistance and Vector Control” special issue</li>
    <li>Reviewer for academic journals</li>
</ul>

<p><strong>Molecular Biology</strong></p>
<ul>
    <li>PCR, RT-PCR, qPCR, sequencing</li>
    <li>Phylogenetic Analyses</li>
    <li>Entry-level NGS bioinformatic analyses using QIIME2 in Python</li>
</ul>
        </div>


        <h2>How I got into vector-borne diseases?</h2>
        <div>
            <p>
                I have been devoted to the study of vector-borne diseases (vbd) for the last nine years. My first approach to this neglected area was in my Master's degree thesis. At the beginning, my initial objective was determining the host preference of Aedes aegypti in Ciudad Juárez, Chihuahua, México. However, I decided to spice things up and included viral detection in mosquito samples (DENV, CHIKV, and WNV) as well as the formulation of a mathematical model based in Markov Chains to estimate the transmission potential of those pathogens in my city. I got quickly captivated by vbd and everything that I learned in this period. I combined different techniques encompassing molecular biology methods, field work, and what is my current area of work, statistical and mathematical modelling.
            </p>
            <p>
                Given this fascination, I went for a PhD in Medical and Veterinary Entomology. There, I delved into the analysis of insecticide resistance (IR). I had an incredibly good opportunity to gain theoretical and practical experience in testing phenotypic IR, exploring IR mechanisms, work with different vectors of disease such as mosquitoes, ticks, lice, among others. It is worth to mention that during my doctoral studies I developed (and I still am developing) writing skills. My doctoral thesis proposed a specific link between IR and vector competence (VC) for DENV-2 in Ae. aegypti, resulting in a positive relationship, that is, IR promotes VC for this arbovirus. Alongside my thesis, I participated in other projects (see publications) ranging from testing acaricides to creating spatial models of IR spread. The latter is one of my main research interests.
            </p>
            <p>
                Not so long ago (two years) I started working as a researcher in Avia-GIS. Within this company I have the chance to apply techniques for studying arboviral transmission at different scales. I have participated in projects aiming to detect hotspots of dengue transmission in a time-effective way to improve vector management. Besides, I spent much of my time investigating how climate (and pretty much climate change) relates to disease transmission, again, to increase our preparedness against epidemics. One of the nicest projects I participated in was aimed to know the current distribution of five arboviral diseases around the world using machine learning methods. Statistical and Spatial analyses are crucial and compulsory tools needed for my current position as can be interpreted from my previous lines. Spending eight years learning and applying multivariate analytics processes and spatial analysis in R, python, and QGIS, in a self-thought manner was a real advantage. 
            </p>
        </div>

    
    </section>
    
</div>